@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Caveat:wght@700&family=Lobster&family=Playfair+Display:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

$head: 'Lobster', cursive;
$headingFont:  'Lobster', cursive;
$bodyFont:  'Archivo Narrow', sans-serif;
$quoteFont: 'Playfair Display', serif;
$futureFont: 'Caveat', cursive;
$color: #aa5377;
$darkColor: #f57d27;
$darkBlue: #002d40;

$black: #1B1B43;
$pink: #e65b7c;
$blue: #5B83E3;
$fadeblue: #6EA6CE;
$grey: #848484;
$darkgrey: #646464;
$white: #ffffff;
$yellow: #fff3d8;
$dark: #000;
$red: red;
$lightgrey: #d3d3d3;